#[submodule "Libraries/assimp"]
#    path = Libraries/assimp
#    url = https://github.com/assimp/assimp.git

#[submodule "Libraries/fluidsynth"]
#    path = Libraries/fluidsynth
#    url = https://github.com/fluidsynth/fluidsynth.git

[submodule "Libraries/freetype"]
    path = Libraries/freetype
    url = https://github.com/freetype/freetype.git

[submodule "Libraries/glm"]
    path = Libraries/glm
    url = https://github.com/g-truc/glm.git

[submodule "Libraries/imgui"]
    path = Libraries/imgui
    url = https://github.com/ocornut/imgui.git

#[submodule "Libraries/ImGuizmo"]
#    path = Libraries/ImGuizmo
#    url = https://github.com/CedricGuillemet/ImGuizmo.git

[submodule "Libraries/json"]
    path = Libraries/json
    url = https://github.com/nlohmann/json.git

[submodule "Libraries/LuaJIT"]
    path = Libraries/LuaJIT
    url = https://github.com/LuaJIT/LuaJIT.git

[submodule "Libraries/pl_mpeg"]
    path = Libraries/pl_mpeg
    url = https://github.com/phoboslab/pl_mpeg.git

[submodule "Libraries/psyz"]
    path = Libraries/psyz
    url = https://github.com/Xeeynamo/psyz.git

[submodule "Libraries/SDL"]
    path = Libraries/SDL
    url = https://github.com/libsdl-org/SDL.git

[submodule "Libraries/smol-atlas"]
    path = Libraries/smol-atlas
    url = https://github.com/aras-p/smol-atlas.git

[submodule "Libraries/sol2"]
    path = Libraries/sol2
    url = https://github.com/ThePhD/sol2.git

[submodule "Libraries/spdlog"]
    path = Libraries/spdlog
    url = https://github.com/gabime/spdlog.git

[submodule "Libraries/stb"]
    path = Libraries/stb
    url = https://github.com/nothings/stb.git

[submodule "Libraries/utfcpp"]
    path = Libraries/utfcpp
    url = https://github.com/nemtrif/utfcpp.git

[submodule "Libraries/yalantinglibs"]
    path = Libraries/yalantinglibs
    url = https://github.com/alibaba/yalantinglibs.git
