Assets/**              filter=lfs diff=lfs merge=lfs -text
Assets/Locales/**      !filter !diff !merge text
Resources/**           filter=lfs diff=lfs merge=lfs -text
Tools/dumpsxiso/**     filter=lfs diff=lfs merge=lfs -text
Tools/shadercross/**   filter=lfs diff=lfs merge=lfs -text
Tools/vgmstream-cli/** filter=lfs diff=lfs merge=lfs -text
